// breakpoints
$xs: 480px;
$sm: 768px;
$md: 1024px;
$lg: 1280px;
$xl: 1520px;

// utils
$space1: 1rem;
$space2: 2rem;
$space3: 3rem;
$space4: 4rem;
$space5: 5rem;

// colors

$blue: #486db7;
$blueHover: #1547ac;
$black: #414141;
$btnGray: #696969;
